@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/*font-family: 'Anton', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/*font-family: 'Abel', sans-serif;*/
body {
    background-color: rgba(128, 128, 128, 0.72);
}
.cdesign{
    margin-top: 1.5em;
}
.AbsoluteLogo{
    position: absolute;
    top: 7px;
    right: 110px;
}

.nav-link{
    color: black;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 64px;
    font-family: 'Anton', sans-serif;
}
h2{
    font-size: 48px;
    font-family: 'Anton', sans-serif;
}
h4{
    font-size: 32px;
    font-family: 'Anton', sans-serif;
}
h5{
    font-size: 28px;
    font-family: 'Anton', sans-serif;
}
.visdes{
    font-size: 64px;
}

/*.circles:nth-of-type(1) {*/
/*    height: 100px;*/
/*    width: 100px;*/
/*    border-radius: 50%;*/
/*    border:1px solid red;*/
/*    line-height: 100px;*/
/*    text-align: center;*/
/*    background-color: red;*/
/*}*/

/*circles:nth-of-type(2) {*/
/*    height: 100px;*/
/*    width: 100px;*/
/*    border-radius: 50%;*/
/*    border:1px solid red;*/
/*    line-height: 100px;*/
/*    text-align: center;*/
/*    background-color: red;*/
/*}*/

.circle1 {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    border: 8px solid white;
}
.DDSH{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: .5em;
}
.myBreak{
    border-bottom: 1px solid gray;
}

@media screen and (max-width:426px) {
    .exImg {
        display: none;
    }
    .myBreak{
        display: none;
    }
}

@media screen and (min-width:768px) {
    .AbsoluteLogo{
        right: 44%;
    }
    .nav{
        position: absolute;
        top: 25px;
        left: 150px;
    }
    .itemMargin{
        margin-right: 10em;
    }
    .circle1{
        margin: 0;
    }
}